html{
    font-size:62.5%;
}

$primary: #222;
$text: #666;
$background: #fff;
$code_background: #eee;
$link_normal: #1e90ff;
$link_visited: #4682b4;
$link_hover: #00bfff;
$link_active: $link_hover;

@import '../highlight/solarized_dark';

body {
    font-family: 'Roboto Slab', serif;
    font-size: 2.0rem;
    font-weight: 300;
    color: $text;
    background: $background;
}

.content {
    margin: 0 auto;
    padding: 1rem;
    overflow: hidden;
}

pre {
    white-space: pre-wrap;
    background: $code_background;
    padding: 1rem;
    border-radius: 0.3rem;
    border: 1px solid #ddd;
}

strong {
    font-weight: 700;
}

h1, h2, h3, h4 {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    color: $primary;
}

h1 {
    font-weight: 300;
    font-size: 5.2rem;
    text-align: center;
    border-bottom: 1px solid $primary;
}

.image-wrapper {
    text-align: center;

    img {
        max-width: 100%;
    }
}

a {
    text-decoration: none;

    &:link {
        color: $link_normal;
    }

    &:visited {
        color: $link_visited;
    }

    &:hover {
        color: $link_hover;
    }

    &:active {
        color: $link_active;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    h2, h3, h4 {
        text-align: center;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 940px) {}

/* Default: 940px and up  */

/* Large desktop */
@media (min-width: 1210px) {}