html{
    font-size:62.5%;
}

$baseSlideFontSize: 4rem;

@import '../highlight/solarized_dark';

body {
    padding-top: 80px;
}

dd {
    margin-bottom: 1em;
}

.image-wrapper {
    text-align: center;

    img {
        max-width: 100%;
    }
}

.presentation {
    h1, h2, h3, h4, h5, h6 {
        margin: 20% 1rem 50% 1rem;
    }

    @for $index from 1 through 6 {
        h#{$index}{
          font-size: $baseSlideFontSize * (2.2 - ($index - 1) * 0.2);
        }
    }

    code {
        margin: 30% 1rem 50% 1rem;
        font-size: 3rem;
    }

    p, ul, ol, dl {
        font-size: $baseSlideFontSize;
        font-weight: 300;
        line-height: 1.4;
        margin: 20% 1rem 50% 1rem;
    }
}