<% include header.html %>

<dl>
    <% notes.forEach(function(note){ %>

    <dt>
        <a href="/note<%= note.url %>"><%= note.title %></a>
        <a href="/presentation<%= note.url %>"><span class="glyphicon glyphicon-play-circle"></span></a>
    </dt>
    <dd>
        <strong>Tags:</strong>
        <% note.tags.forEach(function(tag){ %>
            <span class="label label-primary"><%= tag.toLowerCase() %></span>
        <% }) %>
        <% if(note.actions > 0) { %>
            <span class="label label-danger">action items</span>
        <% } else if(note.done > 0) { %>
            <span class="label label-success">all done</span>
        <% } %><br>
        <small>
            <span class="glyphicon glyphicon-file"></span> <%= note.path %><br>
            <span class="glyphicon glyphicon-time"></span> <%= note.stat.mtime.toLocaleDateString() %> at <%= note.stat.mtime.getHours() %>:<%= note.stat.mtime.getMinutes() %><br>
        </small>
    </dd>
    <% }) %>
</dl>
<% include footer.html %>