<% include header.html %>

<dl>
    <% notes.forEach(function(note){ %>

    <dt>
        <a href="<%= note.url %>"><%= note.title %></a>
        <a href="<%= note.url %>/presentation"><span class="glyphicon glyphicon-new-window"></span></a>
    </dt>
    <dd>
        <strong>Tags:</strong>
        <% note.tags.forEach(function(tag){ %>
        <span class="label label-primary"><%= tag %></span>
        <% }) %><br>
        <strong>Path:</strong> <%= note.path %>
    </dd>
    <% }) %>
</dl>
<% include footer.html %>