<% include header.html %>

<dl>
    <% notes.forEach(function(note){ %>

    <dt>
        <a href="/note<%= note.url %>"><%= note.title %></a>
        <a href="/presentation<%= note.url %>"><span class="glyphicon glyphicon-play-circle"></span></a>
    </dt>
    <dd>
        <strong>Tags:</strong>
        <% note.tags.forEach(function(tag){ %>
            <span class="label label-primary"><%= tag.toLowerCase() %></span>
        <% }) %>
        <% if(note.actions > 0) { %>
            <span class="label label-danger">action items</span>
        <% } %><br>
        <strong>Path:</strong> <%= note.path %><br>
    </dd>
    <% }) %>
</dl>
<% include footer.html %>